In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
glass=pd.read_csv("C:/Users/Win/Desktop/data science assignments/KNN/glass.csv")

In [3]:
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
glass.shape

(214, 10)

In [7]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [8]:
X=glass.values[:,0:9]
Y=glass.values[:,9]

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [17]:
knn.score(X_train,y_train)

0.8053691275167785

In [18]:
knn.score(X_test,y_test)

0.6615384615384615

We Obtained 66 % accuracy by using KNN

Classification

In [19]:
preds=knn.predict(X_test)

In [20]:
preds

array([1., 7., 1., 7., 2., 2., 1., 1., 2., 1., 2., 2., 1., 2., 6., 5., 6.,
       1., 1., 6., 2., 7., 7., 7., 1., 1., 1., 1., 5., 1., 2., 2., 3., 2.,
       1., 7., 5., 2., 1., 2., 2., 7., 3., 2., 1., 5., 6., 3., 6., 1., 1.,
       1., 1., 2., 1., 1., 2., 1., 5., 1., 2., 2., 1., 7., 2.])

In [21]:
from sklearn.metrics import classification_report

In [22]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

         1.0       0.84      0.64      0.73        25
         2.0       0.52      0.63      0.57        19
         3.0       0.25      0.33      0.29         3
         5.0       0.67      0.80      0.73         5
         6.0       0.67      0.40      0.50         5
         7.0       0.80      1.00      0.89         8

    accuracy                           0.66        65
   macro avg       0.62      0.63      0.62        65
weighted avg       0.69      0.66      0.66        65